<!DOCTYPE html>
<html>
  <head>
    <title>Xponential</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
  </head>

  <body>
    <%= render "/shared/dashboard/top" %>
    <div class="row m-0">
      <div class="col-md-2">
        <%= render "/shared/dashboard/menu" %>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    <%= render "/shared/dashboard/bottom" %>
  </body>
</html>
