<div class="container-fluid vh-100 text-center sign_up overflow-scroll">
  <div class="col-md-9 h-100 mx-auto">
    <div class="bg h-100">
      <div class="form col-10 col-sm-8 col-xl-5 py-4 px-5 mx-auto bg-white border rounded-3">
        <h1> Get started with Us </h1>
        <span> Create a new account </span>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="mt-3">
            <%= render "users/shared/error_messages", resource: resource %>
          </div>
          <div class="field input-group mt-5">
            <span class="input-group-text bg-white">
              <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 2.3667C6.825 2.3667 7.5 3.0417 7.5 3.8667C7.5 4.6917 6.825 5.3667 6 5.3667C5.175 5.3667 4.5 4.6917 4.5 3.8667C4.5 3.0417 5.175 2.3667 6 2.3667ZM6 9.8667C8.025 9.8667 10.35 10.8342 10.5 11.3667H1.5C1.6725 10.8267 3.9825 9.8667 6 9.8667ZM6 0.866699C4.3425 0.866699 3 2.2092 3 3.8667C3 5.5242 4.3425 6.8667 6 6.8667C7.6575 6.8667 9 5.5242 9 3.8667C9 2.2092 7.6575 0.866699 6 0.866699ZM6 8.3667C3.9975 8.3667 0 9.3717 0 11.3667V12.8667H12V11.3667C12 9.3717 8.0025 8.3667 6 8.3667Z" fill="#A9A9A9"/>
              </svg>
            </span>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: 'Full Name' %>
          </div>

          <div class="field input-group mt-3">
            <span class="input-group-text bg-white" id="basic-addon2">
              <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 1.26177C12 0.601768 11.46 0.0617676 10.8 0.0617676H1.2C0.54 0.0617676 0 0.601768 0 1.26177V8.46177C0 9.12177 0.54 9.66177 1.2 9.66177H10.8C11.46 9.66177 12 9.12177 12 8.46177V1.26177ZM10.8 1.26177L6 4.26177L1.2 1.26177H10.8ZM10.8 8.46177H1.2V2.46177L6 5.46177L10.8 2.46177V8.46177Z" fill="#A9A9A9"/>
              </svg>
            </span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Email' %>
          </div>

          <div class="field input-group mt-3">
            <span class="input-group-text bg-white" id="basic-addon3">
              <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 5.75806H9.75V4.25806C9.75 2.18806 8.07 0.508057 6 0.508057C3.93 0.508057 2.25 2.18806 2.25 4.25806V5.75806H1.5C0.675 5.75806 0 6.43306 0 7.25806V14.7581C0 15.5831 0.675 16.2581 1.5 16.2581H10.5C11.325 16.2581 12 15.5831 12 14.7581V7.25806C12 6.43306 11.325 5.75806 10.5 5.75806ZM3.75 4.25806C3.75 3.01306 4.755 2.00806 6 2.00806C7.245 2.00806 8.25 3.01306 8.25 4.25806V5.75806H3.75V4.25806ZM10.5 14.7581H1.5V7.25806H10.5V14.7581ZM6 12.5081C6.825 12.5081 7.5 11.8331 7.5 11.0081C7.5 10.1831 6.825 9.50806 6 9.50806C5.175 9.50806 4.5 10.1831 4.5 11.0081C4.5 11.8331 5.175 12.5081 6 12.5081Z" fill="#A9A9A9"/>
              </svg>
            </span>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: 'Password' %>
          </div>

          <div class="field input-group mt-3">
            <span class="input-group-text bg-white" id="basic-addon4">
              <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 5.75806H9.75V4.25806C9.75 2.18806 8.07 0.508057 6 0.508057C3.93 0.508057 2.25 2.18806 2.25 4.25806V5.75806H1.5C0.675 5.75806 0 6.43306 0 7.25806V14.7581C0 15.5831 0.675 16.2581 1.5 16.2581H10.5C11.325 16.2581 12 15.5831 12 14.7581V7.25806C12 6.43306 11.325 5.75806 10.5 5.75806ZM3.75 4.25806C3.75 3.01306 4.755 2.00806 6 2.00806C7.245 2.00806 8.25 3.01306 8.25 4.25806V5.75806H3.75V4.25806ZM10.5 14.7581H1.5V7.25806H10.5V14.7581ZM6 12.5081C6.825 12.5081 7.5 11.8331 7.5 11.0081C7.5 10.1831 6.825 9.50806 6 9.50806C5.175 9.50806 4.5 10.1831 4.5 11.0081C4.5 11.8331 5.175 12.5081 6 12.5081Z" fill="#A9A9A9"/>
              </svg>
            </span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",  placeholder: 'Confirm Password' %>
          </div>

          <div class="field d-flex text-start mt-3">
            <%= f.check_box :terms_and_conditions, class: "form-check-input shadow-none" %>
            <label class="ms-1 text-black-50">
              I agree to the
              <a href="#" class="text-decoration-none"> Terms and Conditions </a>
            </label>
          </div>

          <div class="actions mt-3">
            <%= f.submit "SIGN UP", class: 'btn btn-md bg-purple text-white' %>
          </div>
        <% end %>

        <div class="mt-3">
          <span> Already have an account? </span>
          <%= link_to 'Sign in', new_user_session_path, class: "text-decoration-none" %>
        </div>

      </div>
    </div>
  </div>
</div>
